*{
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
.header{
    width: 97.5%;
    position: relative;
    margin: 0 auto;
}
.logo{
    display: inline-block;
    font-weight: 800;
    font-size: 2em;
    width: 50%;
}
.header_search{
    float: right;
    position: relative;
    top: .5em;
    right: .5em;
}
.header_search input{
    outline: 1px solid black;
}
.header_search input:focus{
    outline: 1px solid black;
}
header nav ul{
    background-color: #FA6B4C;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
}
header nav ul li{
    margin: 0 3%;
    list-style: none;
    align-self: center;
    color: #FFF;
}
.principal_container{
    display: flex;
}

span{
    margin: 2% 2%;
    font-weight: 800;
    font-size: 20px;
    display:block;
}
.advertising span:nth-child(1){
  margin: 0 0 20px 0;
  display:block;
}
.new .news{
    margin: 20px 0 20px 10px;
}
.news p{
    color: #6B6B6B;
}
.news p:first-child{
    font-weight:700;
}
.news p:nth-child(2){
    color: gray;
  font-size:14px;
}
.news hr{
    border-bottom: 1px solid gray;
  width:90%;
  opacity:0.3;
}
.new{
    background-color: #F1F1F1;
    height: fit-content;
    outline: 1px solid gray;
    padding: 1%;
}
.section1{
    width: 16%;
    margin: 1%;
}
.continue_reading{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: red;
}
.advertising span{
    color: orange;
    display:block;
    margin-left:5px;
}
.advertising{
    margin: 10px 0;
    background-color: #FFF073;
    outline: 2px dashed orange;
    padding: 10px;
}
.advertising p{
  margin:5px;
}
.section2 .article img{
    width: 30%;

}
.section2 {
    width: 68%;
    margin: 1%;
    position: relative;
}
.section3{
    width: 18%;
    margin: 1%;
}
.section2 .article:nth-child(2){
    margin: 40px 0;
}

.section2 .article img{
  width:200px;
  float:left;
  margin: 0 10px 0 0;
}
.section2 .article h2{
  margin: 0 0 10px 0;
}
.continue_reading{
  display: block;
  margin: 15px 0 0 0;
}
.section3{
  outline: 1px solid #4DCBDD;
    height: fit-content;

}
.column{
  height: fit-content;
  padding: 3%;
}
.column p{
  margin: 5% 0;
}
.column p:first-child{
  background-color: #4DCBDD;
  padding: 10px;
  color: #fff;
}

footer{
    background: #F8F8F9;
    width: 100%;
    position: relative;
}
footer ul{
width: 50%;
 display: inline-block;

}
footer ul li{
  background-color: #DDDDDD;
  width: 20%;
  padding:5px;
  margin: 5px 0 0 2%;
  list-style:none;
}
footer p{
 display: inline-block;
 position: absolute;
 right: 0;
 bottom:40%;
 margin-right:1%;
}