*{
    padding: 0;
    margin: 0;
    border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 86px);
  grid-gap: 5px;
  margin: 5px;
}

.rectangulo {
  width: 100%;
  background-color: #ccc;
}

.rojo {
  background-color: #e84e34;
  grid-column: 1/3;
  grid-row: 1/10;

}

.morado {
  background-color: #8d43b4;
  grid-column: 3/7;
  grid-row: 1/4;

}
.verde {
  background-color: #2aa650;
  grid-column: 3/4;
  grid-row: 4/7;

}
.naranja {
  background-color: #f89929;
  grid-column: 3/7;
  grid-row: 7/10;
}

.verde-alto{
  background-color: #2aa650;
  grid-column: 7/8;
  grid-row: 1/10;
}

.azul {
  background-color: #59aae9;
  grid-column: 4/7;
  grid-row: 4/5;
}



.rosa{
  background-color: #ac85b4;
  grid-column: 4/7;
  grid-row: 5/7;
}
