*{
    padding: 0;
    margin: 0;
    border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 75px);
  grid-gap: 5px;
  margin: 5px;
}

.rectangulo {
  width: 100%;
  min-height: 100px;
  background-color: #ccc;
}


.rojo {
  background-color: red;
  grid-column: 1/2;
  grid-row: 5/7;

}

.verde {
  background-color: green;
  grid-column: 2/6;
  grid-row: 5/7;

}

.azul {
  background-color: lightblue;
  grid-column: 6/8;
  grid-row: 1/11;
}

.naranja {
  background-color: orange;
  grid-row: 7/11;
  grid-column: 3/6;
}

.morado {
  background-color: purple;
  grid-column: 1/6;
  grid-row: 1/5;
}
.rosa{
  background-color: pink;
  grid-row: 7/11;
  grid-column: 1/3;
}
