*{
    padding: 0;
    margin: 0;
    border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 130px);
  grid-gap: 5px;
  margin: 5px;
}

.rectangulo {
  width: 100%;
  background-color: #ccc;
}

/* 1 */
.grid div:nth-child(1) {
  background-color: #e84e34;
  grid-row: 5/6;
  grid-column: 8/12;
}

/* 2 */
.grid div:nth-child(2) {
  background-color: #e84e34;
  grid-row: 6/7;
  grid-column: 8/12;
}

/* 3 */
.grid div:nth-child(3) {
  background-color: #2aa650;
  grid-row: 2/3;
  grid-column: 4/16;
}

/* 4 */
.grid div:nth-child(4) {
  background-color: #f89929;
  grid-column: 16/17;
  grid-row: 1/7;
}

/* 5 */
.grid div:nth-child(5) {
  background-color: #f89929;
  grid-column: 1/4;
  grid-row: 2/7;
}

/* 6 */
.grid div:nth-child(6) {
  background-color: #8d43b4;
  grid-row: 1/2;
  grid-column: 1/16;
}

/* 7 */
.grid div:nth-child(7) {
  background-color: #59aae9;
  grid-row: 3/5;
  grid-column: 4/10;
}

/* 8 */
.grid div:nth-child(8) {
  background-color: #59aae9;
  grid-row: 3/5;
  grid-column: 10/16;
}

/* 9 */
.grid div:nth-child(9) {
  background-color: #ac85b4;
  grid-row: 5/6;
  grid-column: 4/6;
}

/* 10 */
.grid div:nth-child(10) {
  background-color: #ac85b4;
  grid-row: 6/7;
  grid-column: 4/6;
}

/* 11 */
.grid div:nth-child(11) {
  background-color: #ac85b4;
  grid-row: 6/7;
  grid-column: 6/8;
}

/* 12 */
.grid div:nth-child(12) {
  background-color: #ac85b4;
  grid-row: 5/6;
  grid-column: 6/8;
}

/* 13 */
.grid div:nth-child(13) {
  background-color: #ac85b4;
  grid-row: 5/6;
  grid-column: 12/14;
}

/* 14 */
.grid div:nth-child(14) {
  background-color: #ac85b4;
  grid-row: 6/7;
  grid-column: 12/14;
}

/* 15 */
.grid div:nth-child(15) {
  background-color: #ac85b4;
  grid-row: 6/7;
  grid-column: 14/16;
}

/* 16 */
.grid div:nth-child(16) {
  background-color: #ac85b4;
  grid-row: 5/6;
  grid-column: 14/16;
}
