.contenedor{
    display: flex;
    justify-content: center;
}

.card{
display: inline-block;
margin: 0 1rem;
transition: transform 0.2s;
text-decoration: none;
margin: 35px auto;
}
.card:hover{
    transform: scale(1.2);
}
h1{
    text-align: center;
    margin-top: 15px;
}
p{
    text-align: center;
}
.rectangulo{
    transition: .8s;
}
.rectangulo:hover{
    z-index: 10;
    opacity: 0.5;
  }